/* see styles_new.css */

/* dark blue: #002E86; light blue: #BECEF4; */
body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #009;
	background-color: #E5E9F4;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0cm;
	margin-top: 8pt;
	margin-bottom: 2pt;
}

h1
{
	font-size: 110%;
	font-style: italic;
	color: #009;
	text-transform: uppercase;
	margin-top: 6pt;
	margin-bottom: 2pt;
}

h2
{
	font-size: 95%;
	margin-top: 12pt;
	margin-bottom: 2pt;
}

.section
{
	color: #039;
	background-color: #FFF;
	border-color: #002E86;
	border-width: 1px;
	border-style: solid;
	padding: 3px;
}

h2.section
{
	color: #FFF;
	background-color: #039;
	font-size: 95%;
	margin-top: 2pt;
	margin-bottom: 6pt;
}

p
{
	margin: 0cm;
	margin-top: 2pt;
	margin-bottom: 4pt;
}

li { margin-bottom: 3pt; }

.nav
{
	color: #039;
	background-color: #BECEF4;
	border-color: #002E86;
	border-width: 1px;
	border-style: solid;
	font-weight: normal;
	padding: 3px;
	width: auto;
	margin: 0 0 10px 0;
	font-size: 90%;
}

.input-output
{
	color: #039;
	background-color: #BECEF4;
	border-color: #002E86;
	border-width: 1px;
	border-style: solid;
	font-weight: normal;
	padding: 3px;
}

.sidebar
{
	color: #039;
	background-color: #FC9;
	border-color: #002E86;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	font-weight: bold;
	padding: 3px;
}

.key-requirement { }

.key-meaning
{
	color: #993366;
	border-color: #002E86;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	font-weight: bold;
	padding: 3px;
}

.key-action
{
	color: #002E86;
	text-transform: uppercase;
}

.key-step
{
	background-color: #BECEF4;
	padding: 3px;
	border-color: #002E86;
	border-width: 1px;
	border-style: solid;
}
